@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;800&family=Raleway:wght@500;600;800&display=swap');

body {
  font-family: 'Raleway', 'Arial Narrow', Arial, sans-serif;
  
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

header,
main,
footer {
  margin: 1rem;
  position: relative;
}

h1 {
  font-family: 'EB Georgia', 'Times New Roman', Times, serif;
  color: #000;
  text-shadow: 0 0 15px #6d6666;
  text-align: center;
}

h2 {
  color: black;
  margin: 0 0 1rem 0;
  border-bottom: 1px solid #201e1e;
}

h3 {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3, h4 {
  color: rgb(251, 254, 251);
  border:#555;
  size: 10px;
 }



main {
  margin-left: 2rem;
}


section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: rgb(93, 130, 60);
  border: 1px solid #385138;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section > p {
  min-height: 60px;
}

img {
  width: auto;
	max-width: 325px;
  box-shadow: 0 0 30px #151515;
  height: 200px;
  border: 1px solid #454444;
}

li > img {
  width: auto;
  height: 30px;
}

footer {
  border-top: 1px solid #555;
  padding: 20px;
}
