@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Tinos:wght@400;700&display=swap');


:root {
    /* change the values below to your colors from your palette */
    --primary-color: #023047;
    --secondary-color: #66d8f5;
    --accent1-color: #ff890b;
     
    /* change the values below to your chosen font(s) */
    --heading-font: 'Open Sans', 'Helvetica', sans-serif;
    --paragraph-font: 'Tinos', 'Georgia', serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #023047;  /* headlines on a white background */ 
    --headline-color-on-color: #66d8f5; /* headlines on a colored background */ 
    --paragraph-color-on-white: #03586d;

    /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; 
    /* paragraph text on a colored background */ 
    --paragraph-background-color: #ff890b  ;
    --nav-link-color: white;
    --nav-background-color: #023047;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #ff890b;
  }


  /* Dark Mode */

.darkMode {
    --headline-color-on-white: white;
    --headline-color-on-color: white;
    --paragraph-color-on-white: white;

    --paragraph-color-on-color: black;
    --paragraph-background-color: rgb(48, 47, 47);
    --nav-background-color: rgb(32, 26, 26);

}



/****************************************************************
*
* Default tag properties *
*
*****************************************************************/

body {
    
    background-color: var(--paragraph-background-color);
    
}
.content {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 22px;
    background-color: var(--paragraph-color-on-color);
    max-width: 1000px;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-weight: 800;
    color: var(--headline-color-on-white);
    margin: 25px;
    
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

img {
    max-width: 100%;
    box-sizing: border-box;
}

p {
    font-family: 'Tinos', 'Georgia', serif;
    color:var(--paragraph-color-on-white);
    padding: 0;
    margin-top: 25px;
}

a {
    text-decoration: none;
}

body {
    min-width: 300px;
}

/****************************************************************
* *
* default properties for all pages *
* *
*****************************************************************/

.home-content {
    background-color: var(--paragraph-color-on-color);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: repeat(16, 100px); */
    padding: 0 2em;
    gap: 1em;

}
/*  This rule name changes based upon the default button color   */

button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 30px;
    border-radius: 20px;
    box-shadow: 7px 1px 5px #7d818b;
    padding: 3px 2em;
    background-color: #ff890b;
    text-align: center;
    color: black;
}


#menu {
    color: white;
    padding: 25px;
    width: 25px;
    grid-column: 3;
    grid-row: 1;
    
}

.hidden {
    display: none;
}

#joinUs {
    display: none;
}

#menu::before {
	content: "☰";
    grid-column: 2/3;
}

#menu.open::before {
	content: "❌";
}

#us {
    margin-top: 25px;    
    max-width: 200px;
    margin: auto;
}

.about-overview{
    margin: 1rem 0;
    display: none;
}

#joinUs {
    margin: 0 30px;
    border-radius: 20px;
    border: solid 1px rgb(160, 147, 140);
    box-shadow: 7px 1px 5px#7d818b;
    padding: 3px 2em;
    background-color: #ff890b;
    text-align: center;
    color: black;
    float: right;
}

.page-header {
    text-align: center;
    font-size: 20px;
    /* grid-column: 1/3; */
}
 

/****************************************************************
* *
* header area properties *
* *
*****************************************************************/

header {
    justify-content: space-between;
    background-color: var(--nav-background-color);
}

.city {
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: auto 50px 80px;
}

#city, #commerce {
    color:var(--headline-color-on-color);
    text-align: center;
}

#commerce {
    margin: 25px;
    padding: 2px;
    grid-row: 2;
}

#hero-img{
    width: 100%;
    grid-column: 1/4;
    grid-row: 1;
    background-color: var(--nav-background-color);
    display: none;
}


nav {
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/-1;
    grid-row: 6/7;
    justify-items: center;
}
nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: #ff890b;
    color: var(--nav-hover-link-color);
    text-decoration: underline;
}

/* slider to toggle to dark mode */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    grid-column: 2/3;
    grid-row: 1;
    margin-top: 25px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--headline-color-on-color);
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--nav-hover-background-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--headline-color-on-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/****************************************************************
* *
* footer area properties *
* *
*****************************************************************/

footer {
    background-color: #3e3e3e;
    color: white;
    font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
    font-size: 1rem;
    padding: 25px 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    text-align:left;
    
    
}

footer #lastModified {
    grid-column: 9/12;
    /* text-align: right; */
}

footer #author {
    grid-column: 5/9;
}

footer a {
    color: white;
    text-decoration: none;
    grid-column: 10/12;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

.foot {
    color: white;
    grid-column:1/5 ;
    text-align: center;

    
}


/* ---------------------------Home Page---------------------- */

.home-content h1 {
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
}

.home-content h2 {
    grid-column: 1/-1;
    grid-row: 9;
    text-align: center;
}

.calendarRow {
    display: grid;
    grid-template-columns: 1fr;

}

h2{
    font-size: 1.5rem;
}

.calendarRow iframe {
    width: 100%;
    min-height: 300px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
}

.thumbnails {
    margin: 15px;
    padding: 10px;
}


