@media screen and (min-width: 650px) {
    
    .calendarRow {
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }

    #menu {
        display: none;
       }

    #hero-img, p, #joinUs {
        display: block;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    .page-header {
        font-size: 1.5em;
    }
    
    nav, .hidden {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    }

    .about-overview{
        display: block;
    }

     /* discover site */
    .grid {
    grid-template-columns: 1fr 2fr;
    min-width: 600px;
    
    }

    .right img:hover {
        transform: scaleX(-1);
    }

 }


